@media (min-width: 370px) {

    html,
    body {
        font-size: 16px;
    }
}

@media (min-width: 440px) {

    html,
    body {
        font-size: 20px;
    }
}

@media (min-width: 648px) {

    html,
    body {
        font-size: 28px;
    }
}

@media (min-width: 770px) {

    html,
    body {
        font-size: 32px;
    }
}

@media (min-width: 970px) {

    html,
    body {
        font-size: 42px;
    }
}

@media (min-width: 1170px) {

    html,
    body {
        font-size: 48px;
    }
}

@media (min-width: 1366px) {

    html,
    body {
        font-size: 62px;
    }
}