.setting {
}
.setting__form{
    display: grid;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;
}
.setting__label {
}
.setting__name {

}
.setting__input {
    width: 100%;
    font-size: 1.5rem;
    padding: 1.2rem .5rem;
    color: grey;
}

.setting__error {
    position: absolute;
    color: white;
    font-size: .8rem;
    box-shadow: 0 1rem 2rem 0 var(--red);
    background: var(--red-gradient);
    padding: .3rem .5rem;
    border-radius: 2rem;
    margin: auto;
    text-shadow: 0 0 .2rem black;
}
.setting__extarea{
    width: 100%;
    resize: none;
    font-size: 1.5rem;
    padding:.5rem;
    color: grey;
    height: 10rem;
    grid-column: 1/3;
}
.setting__btn {
    padding: .5rem 2rem;
    font-size: 2rem;
    margin: auto;
}
